<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> My AngularJS App </title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville" rel="stylesheet">
</head>
<body class="container">

  
  <div class="popUp" ng-controller="TodoController as $ctrl">
    <h1 class="header">TODO List</h1>
    <p>A place to store things you have to do!</p>
    <input type="text" placeholder="Filter your to-dos" ng-model="searchText">
    <ol class="todoList">
      <li class="todoListItem" ng-repeat="todo in $ctrl.todos | filter:searchText" ng-class="{'alpha':enabled}">
        <button class="inline complete" ng-click="$ctrl.todos">Complete</button>
        <p class="inline">{{todo}}</p>
        <p class="inline delete" ng-click="$ctrl.todos.splice($index, 1)">X</p>
      </li>
    </ol>
    <input type="text" placeholder="Add your to do" ng-model="input">
    <button type="submit" class="button" ng-click="$ctrl.todos.push(input)">Add</button>


  </div>

  <!-- <input type="text" ng-model="adverb" placeholder="Adverb">
  <input type="text" ng-model="noun" placeholder="Noun">
  <p>I ran {{adverb ? adverb : '______'}} into the {{noun ? noun : '______'}}</p> -->


  <script src="https://code.angularjs.org/1.7.8/angular.js"></script>
  <script src="app.module.js"></script>
  <script src="app.controller.js"></script>
</body>
</html>