* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 12px;

}

.container {
    background: linear-gradient(135deg, #ec4c87 0%,#ec4f66 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.45);
    padding: 15px 10px;
    transform: translateY(25vh);
    width: 350px;
}

.header {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

input {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    box-shadow: none;
    color: lightgray;
    border: 1px solid lightgray;
    background-image:none;
    box-shadow: none;
}

.todoList {
    margin: 5px;
}
.todoListItem {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    cursor: default;
}

.button {
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: #ec5eb0;
    color: white;
    border-radius: 5px;
}

.complete {
    color: #ec5eb0;
    border: 1px solid #ec5eb0;
    background-image:none;
    box-shadow: none;
    font-size: 10px;
    border-radius: 5px;
}

.delete {
    text-align: right;
    
}

.inline {
    display: inline;
}

.strikethrough {
    text-decoration: line-through;
}

.completed {
    text-decoration: line-through;
}
